/* apear default stylesheets start
*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --mainColor : #0e1538 ;
  --disColor : rgb(236,240,243);
}
body{
  background: var(--mainColor)
}
/* end of appear */


header .container  {
  background:#121212;
  padding: 10px 20px 20px ;
  color: #00ccff 
  
}

header span {
  margin: 0px;
  font-size: 30px;
}
header span:nth-child(2) {
  color: red;
  position: relative;
  top :0;
  font-size:36px;
  animation: jump 1s 3 alternate ease-in;
}



@keyframes jump {
  0%{
    top: -20px
  }
  25%{
    top: 0px
  }
  
  50%{
    top: -10px
  }
  100%{ 
  top: 0px;
  }
}
header span:nth-child(6) {
  color: #00ffcc;
  position: relative;
  left: 0;
  font-size: 36px;
  animation: space 1s 1 alternate ease-in;
}
@keyframes space {
  0%{
    left: 50px;
  }
  50%{
    left: 0px;
  }
  70%{
    left: 5px;
  }
  100%{
    left: 0px;
    
  }
}

/* header */

/* slider start */
.slider {
  width: 70vw;
  background: blue;
  overflow:auto;
  margin: auto;
  
}
.slider .container {
  background: red;
  display: grid;
  grid-auto-flow: column;
  position: relative;
  right: 0;
  animation: moveider 5s infinite ease-in alternate
  
  
  
  
}
.item{
  width: 372px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mainColor);
  z-index: 1 ;
  font-size: 20px;
  color: #fff;
  text-align: center;

  

}


/* examples in items */

.item .ex{
  width: 50%;
  height: 80%;
  background:turquoise;
  padding-top: 70px;
  
}
 
/* first ex1 */
.item .ex1{
  background: var(--mainColor) ;
  position: relative;
  
}

.ex1::before{
  content: "";
  position: absolute;
  inset: -3px;
  background:linear-gradient(45deg,#00ccff,var(--mainColor),var(--mainColor), #d400d4);
  box-shadow: 0 0 0 10px #000;
  z-index: -1;
}

.ex1::after{
  content: "";
  position: absolute;
  inset: -3px;
  background:linear-gradient(45deg,#00ccff, #0e1538, #0e1538, #d400d4);
  filter: blur(20px);
  z-index: -1 ;
}


/* second ex*/

.item2 .cover {
  width: 55%;
  height: 85%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.item .ex2{
  width: 95.5%;
  height: 96%;
  background: #000;
  position: relative;
  border-radius: 10px;
  
  
}

.ex2::before{
  content: "";
  position: absolute;
  inset: -5px;
  background:#000;
  z-index: -1;
  overflow: hidden;
  border-radius: 10px;
  
}

.ex2::after{
  content: "";
  position: absolute;
  inset:-20% 20%;
  background:linear-gradient(to bottom,#00ccff 50%,#d400d4 50%);
  z-index: -1;
  animation: ex 5s infinite linear;
}

/* three ex */
.item .ex3{
  background: #0e1538 ;
  position: relative;
  border-radius: 30%
  
}

.ex3::before{
  content: "";
  position: absolute;
  inset: -3px;
  background: linear-gradient(to right top, #00ff0a, #0e1538, #0e1538, #ffeb3b);
  
  
  z-index: -1;
}

.ex3::after{
  content: "";
  position: absolute;
  inset: -3px;
  background:linear-gradient(to right top, #00ff0a, #0e1538, #0e1538, #ffeb3b);
  filter: blur(20px);
  z-index: -1 ;

}










@keyframes ex {
  100%{
    transform: rotate(360deg)
  }
}


@keyframes moveider {
  0%{
    right:20px;
  }
  50% {
    right: 420px;
  }
  100% {
    right: 790px;
  }
  
}

/* discraption to site start /
*/
.discraption{
  width: 100vw;
  height: 200px;
  background: var(--mainColor);
  padding: 20px 0 0 0;
}
.discraption .container{
  width: 90vw;
  height: 100px;
  color: var(--disColor);
  margin: 30px auto;
  padding: 20px;
  line-height: 1.5;
  z-index: 1;
  
  border: none;
  position: relative;
  box-shadow: -5px 5px 10px rgb(0,0,0,1),5px 5px 10px rgb(0,0,0,1);
  overflow: hidden;
}

/* befor  */
.discraption .container::before{
  content: "";
  position: absolute;
  inset: 80px 5px 5px 5px ;
  background: var(--mainColor);
  animation: movDown 9s 1 steps(2) 
}

@keyframes movDown{
  0%{
    top: 45px;
  }
  100%{
    top: 100px;visibility:visible
  }
}

/* before to spans*/
.discraption  span{
  position: relative;
  
  display: inline-block;
  overflow: hidden;
  z-index:-1;
  
  

  
  
}

.discraption span:first-child::before{
  content: "";
  position: absolute;
  inset: -5px 0 0 -10px;
  width: 100%;
  background: var(--mainColor);
  border: none;
  visibility: hidden;
  border-left: 2px solid #d400d4;
  animation: movLeft 4s 1 steps(30)
}

.discraption span:last-child::before {
  content: "";
  position: absolute;
  inset: -5px 0 0 -10px;
  width: 100%;
  background: var(--mainColor);
  border: none;
  visibility: hidden;
  border-left: 2px solid #d400d4;
  animation: movLeft 4s 1 4s steps(30)
}

@keyframes movLeft {
  100%{
    left: 330px;visibility: visible
  }
}


/* color range start */
.color-range .container {
  width: 90%;
  height: 500px;
  margin: auto;
  padding: 10px 0 0 0 ;
  
  
}

.color-range .container .display-color {
  width: 100%;
  height: 250px;
  background: #eee;
  margin: 0 0 10px 0;
  border-radius: 5px;
  
  
}

.color-range #Range{
  display: flex;
  width: 100%;
  height: 250px;
  position: relative;

  
}
label{
  transform:rotate(-90deg);
}
.color-range .container .rang{
  display: flex;
  justify-content: center;
  align-content: center;
  gap:20px;
  transform: rotate(90deg);
  height: 15px;
  margin: 10px;
  position:absolute;
  top:100px;
  color: #fff;
  
  

}
.rang:first-child{
  left: -65px;
}
.rang:nth-child(2) {
  left: 30px;
}
.rang:nth-child(3) {
  left: 130px;
}
.rang:last-child {
  left: 230px;
}

.color-range .container #Range input{
  background: blue;
  width: 170px;
  transform: rotate(180deg);

  
}

.display-color{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#copyInput{
  outline: none;
  text-transform: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background: #fff;
  
}


/* proposals start */

.proposals .container{
  width:95vw;
  position: relative;
  margin: 10px auto;
}
.proposals h2{
  width: 200px;
  background: rgb(232.5,  17.5,  197.5,  .92);
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  
  
}
.proposalsSliser{
  width:300px;
  height: 400px;
  background: greenyellow;
  margin:20px auto;
  border-radius:10px;
  overflow: scroll;
  
  
}

.proposalsSliderr ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
  

}

.proposals ul li{
  width: 300px;
  height: 200px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  
}
.proposals ul li input{
  background: #fff;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  outline: none;
  border: none;
  z-index: 100;
}

.proposals #addColor {
  width: 300px;
  height: 50px;
  background:rgb(250,  0,  250,  .25) ;
  border: none;
  color: #fff;
  font-size: 18px;
  margin: auto;
  display: block;
  border-radius: 10px;

  
}

.proposals .container #inputPopup{
  background: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  inset: 100px 0 0 0 ;
  height: 400px;
  z-index: 100;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;
  display: none
  
}
.proposals #inputPopup input{
  width: 300px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  text-align: center;
  border: none;
  
}
.proposals #inputPopup button{
  width: 100px;
  height: 25px;
  background:  rgb(60,  225,  147.5,  .72) ;
  border: none;
  border-radius: 5px;
  margin: 20px;
  
  
}

/* remove and copy in proposels */

.proposalsSliser #colors #copy {
  background: #fff;
  font-size: 13px;
  position: absolute;
  top: 35px;
  left: 15%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 12px 0 0 0;
  border-radius: 40%;
  display: none;
  animation: copy 1s 1
}

/* animation for copy */
@keyframes copy {
  0%{
    left: 42.5%; 
    top: 80px;
    color: #fff;
  }
  50%{
    left:42.5%;
    top:35px;
    color:#fff;
  }
}


.proposalsSliser #colors #del {
  background: #fff;
  font-size: 13px;
  position: absolute;
  top: 35px;
  left: 70%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 12px 0 0 0;
  border-radius: 40%;
  animation: del 1s 1;
  display: none;
}

/* animation for del */
@keyframes del {
  0%{
    left: 42.5%; 
    top: 80px;
    color: #fff;
  }
  50%{
    left:42.5%;
    top:35px;
    color: #fff;
  }
}